{#
  Used to add spacing above secondary brand in sidebar.
  A better solution sould be implemented to avoid the very specific block name.
#}
<div{{ attributes.addClass('mt-8') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
