
{% if variant == 'you' %}
  {% set container = 'chat-message-container-you' %}
  {% set myVariant = 'chat-message-variant-you' %}
{% elseif variant == 'bot' %}
  {% set container = 'chat-message-container-bot' %}
  {% set myVariant = 'chat-message-variant-bot' %}
{% else %}
  {% set container = 'chat-message-container-info' %}
  {% set myVariant = 'chat-message-variant-info' %}
{% endif %}

<div class="flex gap-1 {{ container }}">
  <div class="text-secondary text-sm"><span class="mr-1 font-bold capitalize">{{ variant == 'info' ? message : variant }}</span><span class="time">{{ time }}</span></div>
  {% if variant != 'info' %}
    <span class="message min-h-9 content-center {{ myVariant }}">
      {% if loading %}
        {{ include(directory ~ '/templates/components/chat-message-loader.html.twig') }}
      {% else %}
        {{ message }}
      {% endif %}
    </span>
  {% endif %}
</div>
