<footer role="contentinfo" class="border-t border-secondary py-8">
  {{ page.footer_header }}
  <div class="flex flex-col md:flex-row md:gap-20 divide-y md:divide-none">
    {{ page.footer_col_1 }}
    {{ page.footer_col_2 }}
    {{ page.footer_col_3 }}
  </div>
  {{ page.footer_secondary_brand }}
</footer>
