<div id="{{ ui.id }}" class="chat-window">
  <header>
    <div class="logo" style="float: left;padding-right: 8px;padding-top: 8px">
      <i class="fa-solid fa-robot text-secondary"></i>
    </div>
    {% if ui.models %}
      <select name="models" id="models" class="btn-default">
        <option value="">{{ 'Select a Language Model'|t }}</option>
        {% for item in ui.models %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    {% endif %}
    {{ include('@chat/chat-btn-reset.html.twig') }}
    {% if buttons %}
      <div style="float: right">
        {{ include('@chat/chat-btn-minimize.html.twig') }}
        {{ include('@chat/chat-btn-close.html.twig') }}
        <button id="btnMinimizeChat" class="btn-icon"><i class="icon fa-solid fa-window-minimize"></i></button>
        <button id="btnOpenGlobalNavigation" class="btn-icon"><i class="icon fa-solid fa-xmark"></i></button>
      </div>
    {% endif %}
  </header>
  <main style="height: 400px;width: 100%;padding: 8px;border: 1px solid;overflow-y: scroll">
    <!-- Chat messages -->
  </main>
  <label for="inputMessage"><span class="text-secondary"><i class="fa-solid fa-message"></i><span>Start din dialog</span></span></label>
  <textarea id="inputMessage" style="width: 100%;" rows="4"></textarea>
</div>
