{% set classes = ['chat-window', ui.buttons ? 'hidden' : ''] %}

<style>
  .chat-window {
    background: white;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .chat-window main {
    height: 400px;
    width: 100%;
    padding: 8px;
    border: 1px solid;
    overflow-y: scroll
  }
  .chat-window textarea {
    width: 100%;
  }
</style>

<div id="{{ ui.id }}" {{ attributes.addClass(classes) }}>
  <header>
    {% if ui.models %}
      <select name="models" id="models">
        <option value="">{{ 'Select a Language Model'|t }}</option>
        {% for item in ui.models %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    {% endif %}
    {{ include('@chat/chat-btn-reset.html.twig') }}
    {% if ui.buttons %}
      <div style="float: right">
        {{ include('@chat/chat-btn-minimize.html.twig') }}
        {{ include('@chat/chat-btn-close.html.twig') }}
      </div>
    {% endif %}
  </header>
  <main>
    <!-- Chat messages -->
  </main>
  <label for="inputMessage">Start din dialog</label>
  <textarea id="inputMessage" rows="4"></textarea>
</div>
