<form id="chat" style="width: 600px" data-provider="{{ provider_name }}"
      data-temperature="{{ temperature }}" data-top_k="{{ top_k }}"
      data-top_p="{{ top_p }}" data-system_prompt="{{ system_prompt }}"
      data-context_expire="{{ context_expire }}">
  <label for="cars">Choose a model:</label>
  <select name="models" class="model">
    {% for value in models %}
      <option value="{{ value }}">{{ value }}</option>
    {% endfor %}
  </select>
  <div class='output'
       style="border: 1px solid;height: 400px; width: 100%;overflow-y: scroll">
  </div>
  <textarea class="question" name="question" rows="4" cols="45">
  </textarea>
  <button class="btn" type="button">Chat</button>
</form>
